{% extends "base_layout.html" %}
{% block content %}

<div class="row justify-content-center mt-5 pt-5">
  <div class="col-md-4">
    <img class="resize-image" src="static/image/jame.jpg" alt="" width="210" height="210" style="margin-left: 75px;">
    <figure>
      <b>
        <h3>61102010140</h3>
      </b>
      <h3>ชยานันต์ วงศ์ทองเวชกุล</h3>
    </figure>
  </div>

  <div class="col-md-4 pb-3">
    <img class="resize-image" src="static/image/junior.jpg" alt="" width="210" height="210" style="margin-left: 75px;">
    <figure>
      <b>
        <h3>61102010144</h3>
      </b>
      <h3>ธีร์จุฑา อิฐสุวรรณ</h3>
    </figure>
  </div>

  <div class="col-md-4 pb-3">
    <img class="resize-image" src="static/image/tle.jpg" alt="" width="210" height="210" style="margin-left: 75px;">
    <figure>
      <b>
        <h3>61102010146</h3>
      </b>
      <h3>นรวิชญ์ อำพันแสง</h3>
    </figure>
  </div>
</div>
</body>
{% endblock %}