{% extends "base_layout.html" %}
{% block content %}

<form method="POST">

  <div class="form-group p-5 m-5">
    <div class="display-5" style="font-size: 20px;">
    <label class="control-label col-sm-2" for="id">Insert Id</label><br>
    <div class="col-sm-10">
      <input type="text" class="form-control " name="id" placeholder="id" /><br>
    </div>


 
    <label class="control-label col-sm-2" for="title"> Insert Title</label><br>
    <div class="col-sm-10">
      <input type="text" class="form-control " name="title" placeholder="Title" /><br>
    </div>


 
    <label class="control-label col-sm-2" for="author">Insert Author</label><br>
    <div class="col-sm-10">
      <input type="text" class="form-control " name="author" placeholder="Author" /><br>
    </div>

    <label class="control-label col-sm-2" for="categories">Categories</label><br>
    <div class="col-sm-10">
      <input type="text" class="form-control " name="categories" placeholder="Categories" /><br>
    </div>

    <label class="control-label col-sm-2" for="year">Year</label><br>
    <div class="col-sm-10">
      <input type="text" class="form-control " name="year" placeholder="Year" /><br>
    </div>

    <label class="control-label col-sm-2" for="page">Page</label><br>
    <div class="col-sm-10">
      <input type="text" class="form-control " name="page" placeholder="Page" /><br>
    </div>
    


    <button type="submit" class="btn btn-primary" value="submit">Submit</button>
    </div>
    </div>
  {% endblock %}